[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/iceoryx"]
	path = third_party/iceoryx
	url = https://github.com/wzhao18/iceoryx.git
[submodule "third_party/cudnn-frontend"]
	path = third_party/cudnn-frontend
	url = https://github.com/NVIDIA/cudnn-frontend.git
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
