# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.tally_cache
.tally_cache_client
.tally_perf_cache
data/

tests/cudnn_samples_v8/RNN/RNN
tests/cudnn_samples_v8/RNN_v8.0/RNN
tests/cudnn_samples_v8/conv_sample/conv_sample
tests/cudnn_samples_v8/mnistCUDNN/mnistCUDNN
tests/cudnn_samples_v8/multiHeadAttention/multiHeadAttention